<h2>Dolgozók</h2>

<button (click)="showModal=true" class="btn btn-primary">Hozzáadás</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Név</th>
        </tr>
    </thead>
    <tbody>
        @for( emp of employees; track emp.id) {
            <tr>
                <td>{{ emp.id }}</td>
                <td>{{ emp.name }}</td>
                <td>
                    <button class="btn btn-primary" (click)="edit(emp)">Szerkesztés</button>
                    <button class="btn btn-danger ms-2" (click)="delete(emp.id)">Törlés</button>
                </td>
            </tr>
        }
    </tbody>
</table>



@if(showModal) {
    <div class="modal" tabindex="-1" style="display:block">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @if(addMode) {
                    Hozzáadás
                }@else {
                    Módosítás
                }
            </h5>
            <button type="button" class="btn-close" 
            data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
            
            <form [formGroup]="employeeForm" (ngSubmit)="save()" id="employeeForm">
                @if(!addMode) {
                    <div>
                        <label for="id" class="form-label">Id</label>
                        <input type="text" formControlName="id"
                        class="form-control" readonly>
                    </div>
                }
                <div>
                    <label for="name" class="form-label">Név</label>
                    <input type="text" formControlName="name"
                    class="form-control">
                </div>
            </form>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="closeModal()">Bezárás</button>

            <button type="submit" class="btn btn-primary"
            form="employeeForm">Mentés</button>
        </div>
        </div>
    </div>
    </div>    
}
