<h2>Bejelentkezés</h2>

<form [formGroup]="loginForm" (ngSubmit)="login()">

    <div>
        <label for="name" class="form-label">
            Felhasználónév
        </label>
        <input type="text" class="form-control"
        id="name" formControlName="name">
    </div>
    <div>
        <label for="password" class="form-label">
            Jelszó
        </label>
        <input type="text" class="form-control"
        id="password" formControlName="password">
    </div>

    <button type="submit"
    class="btn btn-primary mt-2">Belépés</button>
</form>
